# Byte-compiled / optimized / DLL files
app/__pycache__/
__pycache__/
temp/
frontend/node_modules/
frontend/dist/
frontned/yarn.lock
.DS_Store

# benchmark output
batched.csv

# environments 
backend/venv
.env
frontend/.yarn
frontend/yarn.lock
