.dialog {
  position: relative;
  z-index: 100000;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(75, 85, 99, 0.25);
  transition: opacity 0.3s ease-in-out;
}

.container {
  position: fixed;
  inset: 0;
  width: 100vw;
  overflow-y: auto;
  padding: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 80px;
}

.dialogPanel {
  margin: auto;
  max-width: 640px;
  transform: scale(1);
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.searchIcon {
  position: absolute;
  left: 16px;
  top: 14px;
  height: 20px;
  width: 20px;
  color: #9ca3af;
  pointer-events: none;
}

/* Make this more specific with type="text" so that it's not overriden by other app styles */
.inputField[type="text"] {
  height: 48px;
  width: 100%;
  border: 0;
  background-color: rgba(229, 231, 235, 0.95);
  padding-left: 44px;
  padding-right: 16px;
  color: #374151;
  font-size: 0.875rem;
  border-radius: 16px;
  outline: none;
}

.inputWrapper {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px;
  border-radius: 12px;
}

.inputWrapper.loading {
  background: linear-gradient(135deg,
      rgba(65, 88, 208, 1) 0%,
      rgba(200, 80, 192, 1) 25%,
      rgba(255, 204, 112, 1) 50%,
      rgba(80, 200, 120, 1) 75%,
      rgba(65, 88, 208, 1) 100%);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {

  0%,
  100% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }
}